body {
    background: linear-gradient(to left, #880044, #AA1155, #DD1155 );
}
h1,h2,h3 {
    color:white; 
}
h1{
    font-family: Arial;
    background-color:rgb(160, 160, 160);
}

ul{
	list-style-type:none;
}